body {
	background-color: #F0FFFF;
}

.caixa {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formulario {
	padding: 50px;
	display: flex;
	flex-direction: column;
	background-color: #7FFFD4;
	border-width: 2px;
	border-style: groove;
	border-radius: 5px;
	border-color: #FFFFFF;
}

.atributo {
	font-family: 'Times New Roman', serif;
	font-size: 17px;	
}

.entrada {
	width: 80%;
	padding: 8px 15px;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
}

.generos {
	display: flex;
}

.botao {
	width: 30%;
}