body {
	background-color: #F0FFFF;
}

.caixa {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.formulario {
	padding: 50px;
	display: flex;
	flex-direction: column;
	background-color: #7FFFD4;
	border-width: 2px;
	border-style: groove;
	border-radius: 5px;
	border-color: #FFFFFF;
}

.entrada {
	width: 80%;
}

.generos {
	display: flex;
}

.botao {
	width: 30%;
}